html, body{min-height:100%;}
body{height:100vh;}
#content{
  height: 100%;
}
.locais {
  width: 90%;
}
.locais table{
  border-collapse: collapse;
  width: 100%;
}
.locais table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  background-color: #292929;
  color: white;
}
.locais table td {
  padding: 8px;
  font-size: 17px;
}
