html, body{min-height:100%;}
body{height:100vh;}
#content{
  height: 100%;
}
.pagina{
  display: flex;
  height: 100%;
}
.texto_mapa{
  width: 33%;
  background-color: #d9d9d9;
  height: 100%;
}
h3{
  font-size: 30px;
  padding: 20px 0px 0px 20px;
}
.texto_mapa p{
  font-size: 30px;
  padding: 20px 0px 0px 20px;
}
.mapa{
  flex-grow: 1;
  width: 66%;
}
.mapa img{
  height: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.example_c {
	color: white !important;
	text-transform: uppercase;
  height: 30px;
  width: 90px;
	text-decoration: none;
	background: black;
	padding: 3px;
	border: 2px solid black !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.example_c:hover {
	color: #ffffff !important;
	background: gray;
	border-color: gray !important;
	transition: all 0.4s ease 0s;
}
